In [1]:
import pandas作业 as pd
import numpy as np
from xarray.util.generate_ops import inplace

In [4]:
# 字典加列表
dict1 = {
    'name':['lisi','zhangsan','wangwu'],
    'age':[11,20,30]
}
pd.DataFrame(data=dict1)

       name  age
0      lisi   11
1  zhangsan   20
2    wangwu   30

In [8]:
# 元组加列表
t1 = (
    ['lisi',12],
    ['zhangsan',30],
    ['wangwu',20]
)
pd.DataFrame(data=t1,columns=['name','age'])

       name  age
0      lisi   12
1  zhangsan   30
2    wangwu   20

In [10]:
# numpy创造df对象
arr1 = np.arange(12).reshape(3,4)
pd.DataFrame(data=arr1)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [18]:
# 创建一个datafame
d1 = pd.DataFrame(np.random.randint(40,101,(10,5)))
cul_n = ['语文','数学','英语','物理','化学']
in_n = ['同学'+str(i) for i in range(d1.shape[0])]
# d1.index = in_n
# d1.columns = cul_n
# print(d1)

In [19]:
d1.rename(
    columns={i:cul_n[i] for i in range(d1.shape[1])},
    index={i:in_n[i] for i in range(d1.shape[0])},
    inplace = True
)
print(d1)

     语文  数学   英语  物理  化学
同学0  87  42   84  75  71
同学1  73  45  100  52  81
同学2  76  59   62  78  67
同学3  53  88   98  68  99
同学4  56  77   52  52  81
同学5  82  66   71  49  95
同学6  71  75   79  65  89
同学7  48  91   74  44  61
同学8  60  70   89  60  92
同学9  99  91   65  93  50