In [1]:
import pandas as pd
import numpy as np

数据准备

In [3]:
df = pd.read_csv('./data/1960-2019全球GDP数据.csv',encoding='gbk')

In [37]:
df1 = df.head(10)

In [38]:
df2 = df[10:20]

In [39]:
# 默认垂直合并(这里列名一致)
df3 = pd.concat([df1,df2])

In [40]:
df3

    year country           GDP
0   1960      美国  543300000000
1   1960      英国   73233967692
2   1960      法国   62225478000
3   1960      中国   59716467625
4   1960      日本   44307342950
5   1960     加拿大   40461721692
6   1960     意大利   40385288344
7   1960      印度   37029883875
8   1960    澳大利亚   18577668271
9   1960      瑞典   15822585033
10  1960      巴西   15165569912
11  1960     土耳其   13995067817
12  1960     墨西哥   13040000000
13  1960      荷兰   12276734172
14  1960     西班牙   12072126075
15  1960     比利时   11658722590
16  1960      瑞士    9522746719
17  1960    委内瑞拉    7779090909
18  1960      南非    7575396972
19  1960     菲律宾    6684568805

In [41]:
# axis=1为水平合并
df4 = pd.concat([df1,df2],axis=1)

In [42]:
# 按索引合并,这里没有修改索引的到以下结果
df4

      year country           GDP    year country           GDP
0   1960.0      美国  5.433000e+11     NaN     NaN           NaN
1   1960.0      英国  7.323397e+10     NaN     NaN           NaN
2   1960.0      法国  6.222548e+10     NaN     NaN           NaN
3   1960.0      中国  5.971647e+10     NaN     NaN           NaN
4   1960.0      日本  4.430734e+10     NaN     NaN           NaN
5   1960.0     加拿大  4.046172e+10     NaN     NaN           NaN
6   1960.0     意大利  4.038529e+10     NaN     NaN           NaN
7   1960.0      印度  3.702988e+10     NaN     NaN           NaN
8   1960.0    澳大利亚  1.857767e+10     NaN     NaN           NaN
9   1960.0      瑞典  1.582259e+10     NaN     NaN           NaN
10     NaN     NaN           NaN  1960.0      巴西  1.516557e+10
11     NaN     NaN           NaN  1960.0     土耳其  1.399507e+10
12     NaN     NaN           NaN  1960.0     墨西哥  1.304000e+10
13     NaN     NaN           NaN  1960.0      荷兰  1.227673e+10
14     NaN     NaN           NaN  1960.0     西班牙  1.207213e+10
15     NaN     NaN           NaN  1960.0     比利时  1.165872e+10
16     NaN     NaN           NaN  1960.0      瑞士  9.522747e+09
17     NaN     NaN           NaN  1960.0    委内瑞拉  7.779091e+09
18     NaN     NaN           NaN  1960.0      南非  7.575397e+09
19     NaN     NaN           NaN  1960.0     菲律宾  6.684569e+09

In [43]:
df2.reset_index(drop=True,inplace=True)

In [44]:
# 重置索引后成功连接
df4 = pd.concat([df1,df2],axis=1)

In [45]:
df4

   year country           GDP  year country          GDP
0  1960      美国  543300000000  1960      巴西  15165569912
1  1960      英国   73233967692  1960     土耳其  13995067817
2  1960      法国   62225478000  1960     墨西哥  13040000000
3  1960      中国   59716467625  1960      荷兰  12276734172
4  1960      日本   44307342950  1960     西班牙  12072126075
5  1960     加拿大   40461721692  1960     比利时  11658722590
6  1960     意大利   40385288344  1960      瑞士   9522746719
7  1960      印度   37029883875  1960    委内瑞拉   7779090909
8  1960    澳大利亚   18577668271  1960      南非   7575396972
9  1960      瑞典   15822585033  1960     菲律宾   6684568805

In [47]:
df2.index = [1,2,3,4,5,6,77,97,74,532]

In [48]:
# 内连接保留索引一直的记录链接
df5 = pd.concat([df1,df2],axis=1,join='inner')
df5

   year country          GDP  year country          GDP
1  1960      英国  73233967692  1960      巴西  15165569912
2  1960      法国  62225478000  1960     土耳其  13995067817
3  1960      中国  59716467625  1960     墨西哥  13040000000
4  1960      日本  44307342950  1960      荷兰  12276734172
5  1960     加拿大  40461721692  1960     西班牙  12072126075
6  1960     意大利  40385288344  1960     比利时  11658722590

In [49]:
# 外连接,保留所有数据
df5 = pd.concat([df1,df2],axis=1,join='outer')
df5

       year country           GDP    year country           GDP
0    1960.0      美国  5.433000e+11     NaN     NaN           NaN
1    1960.0      英国  7.323397e+10  1960.0      巴西  1.516557e+10
2    1960.0      法国  6.222548e+10  1960.0     土耳其  1.399507e+10
3    1960.0      中国  5.971647e+10  1960.0     墨西哥  1.304000e+10
4    1960.0      日本  4.430734e+10  1960.0      荷兰  1.227673e+10
5    1960.0     加拿大  4.046172e+10  1960.0     西班牙  1.207213e+10
6    1960.0     意大利  4.038529e+10  1960.0     比利时  1.165872e+10
7    1960.0      印度  3.702988e+10     NaN     NaN           NaN
8    1960.0    澳大利亚  1.857767e+10     NaN     NaN           NaN
9    1960.0      瑞典  1.582259e+10     NaN     NaN           NaN
77      NaN     NaN           NaN  1960.0      瑞士  9.522747e+09
97      NaN     NaN           NaN  1960.0    委内瑞拉  7.779091e+09
74      NaN     NaN           NaN  1960.0      南非  7.575397e+09
532     NaN     NaN           NaN  1960.0     菲律宾  6.684569e+09

In [28]:
#合并方式二: merage() 基于键的横向连接(增加列)
df1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                        'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
#
df2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                        'key2': ['K0', 'K0', 'K0', 'K0'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']})

In [29]:
# 基于键的链接,两个df对象根据key1链接(df1.key1==df2.key1),连接后只会有一个key1,inner方式只保留匹配数据
pd.merge(df1,df2,on='key1',how='inner')

  key1 key2_x   A   B key2_y   C   D
0   K0     K0  A0  B0     K0  C0  D0
1   K0     K1  A1  B1     K0  C0  D0
2   K1     K0  A2  B2     K0  C1  D1
3   K1     K0  A2  B2     K0  C2  D2
4   K2     K1  A3  B3     K0  C3  D3

In [30]:
# 两个df对象根据key1和key2链接(df1.key1==df2.key1 and df1.key2==df2.key2),连接后只会有一个key1,key2,inner方式只保留匹配数据
pd.merge(df1,df2,on=['key1','key2'],how='inner')

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [31]:
# 两个df对象根据key1和key2链接(df1.key1==df2.key1 and df1.key2==df2.key2),连接后只会有一个key1,key2,outer方式保留匹配数据和源数据
pd.merge(df1,df2,on=['key1','key2'],how='outer')

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K0  NaN  NaN   C3   D3
5   K2   K1   A3   B3  NaN  NaN

In [32]:
# 两个df对象根据key1和key2链接(df1.key1==df2.key1 and df1.key2==df2.key2),连接后只会有一个key1,key2,left方式只保留左表所有数据和右表匹配数据
pd.merge(df1,df2,on=['key1','key2'],how='left')

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

In [33]:
# 两个df对象根据key1和key2链接(df1.key1==df2.key1 and df1.key2==df2.key2),连接后只会有一个key1,key2,left方式只保留右表所有数据和左表匹配数据
pd.merge(df1,df2,on=['key1','key2'],how='right')

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3