In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('./data/1960-2019全球GDP数据.csv',encoding='gbk')
df

      year   country           GDP
0     1960        美国  543300000000
1     1960        英国   73233967692
2     1960        法国   62225478000
3     1960        中国   59716467625
4     1960        日本   44307342950
...    ...       ...           ...
9925  2019  圣多美和普林西比     418637388
9926  2019        帕劳     268354919
9927  2019      基里巴斯     194647201
9928  2019        瑙鲁     118223430
9929  2019       图瓦卢      47271463

[9930 rows x 3 columns]

In [3]:
# 复制df前五行作为一个新df对象
n_df = df.head().copy()

In [4]:
# 添加一个c1列,所有值为32
n_df['c1'] = 32
# 添加一个c2列,值为1,2,3,4,5
n_df['c2'] = [1,2,3,4,5]
# 添加一个新列用lambda表达式赋值
n_df['c3'] = (lambda :2500)()
# 添加一个列,用f1函数赋值
def f1():
    return 2000
n_df['c4'] = f1()
n_df

   year country           GDP  c1  c2    c3    c4
0  1960      美国  543300000000  32   1  2500  2000
1  1960      英国   73233967692  32   2  2500  2000
2  1960      法国   62225478000  32   3  2500  2000
3  1960      中国   59716467625  32   4  2500  2000
4  1960      日本   44307342950  32   5  2500  2000

In [5]:
# 删除行索引为0和1的行
n_df.drop(index=[0,1],inplace=True)
n_df

   year country          GDP  c1  c2    c3    c4
2  1960      法国  62225478000  32   3  2500  2000
3  1960      中国  59716467625  32   4  2500  2000
4  1960      日本  44307342950  32   5  2500  2000

In [6]:
# del方法删除c1列
del n_df['c1']
n_df

   year country          GDP  c2    c3    c4
2  1960      法国  62225478000   3  2500  2000
3  1960      中国  59716467625   4  2500  2000
4  1960      日本  44307342950   5  2500  2000

In [7]:
# drop方法删除多个列
n_df.drop(columns=['c2','c3','c4'],inplace=True)

In [8]:
n_df

   year country          GDP
2  1960      法国  62225478000
3  1960      中国  59716467625
4  1960      日本  44307342950

In [9]:
# concat方法拼接将多个n_df拼接
df2 = pd.concat([n_df,n_df,n_df,n_df,n_df])
df2

   year country          GDP
2  1960      法国  62225478000
3  1960      中国  59716467625
4  1960      日本  44307342950
2  1960      法国  62225478000
3  1960      中国  59716467625
4  1960      日本  44307342950
2  1960      法国  62225478000
3  1960      中国  59716467625
4  1960      日本  44307342950
2  1960      法国  62225478000
3  1960      中国  59716467625
4  1960      日本  44307342950
2  1960      法国  62225478000
3  1960      中国  59716467625
4  1960      日本  44307342950

In [10]:
# 去重
df2.drop_duplicates()

   year country          GDP
2  1960      法国  62225478000
3  1960      中国  59716467625
4  1960      日本  44307342950

In [11]:
# 删除包含country列中的重复值的行
df2.drop_duplicates('country')

   year country          GDP
2  1960      法国  62225478000
3  1960      中国  59716467625
4  1960      日本  44307342950

In [42]:
# 查询国家为中美,日期为2012和2013的数据用一个新dataframe接收
n_d = df.query('country in ["中国","美国"] and year in [2012,2013]')

      year  country  GDP
8311   3.5      1.5  2.0
8312   3.5      3.5  4.0
8516   1.5      1.5  1.0
8517   1.5      3.5  3.0

In [12]:
# 按照GDP排名
df.GDP.rank(ascending=True)

0       9393.0
1       7900.0
2       7746.0
3       7691.0
4       7341.0
         ...
9925    1158.0
9926     855.0
9927     632.0
9928     376.0
9929     152.0
Name: GDP, Length: 9930, dtype: float64