In [8]:
import pandas as pd
import numpy as np
from xarray.util.generate_ops import inplace

In [9]:
# 字典加列表
dict1 = {
    'name':['lisi','zhangsan','wangwu'],
    'age':[11,20,30]
}
pd.DataFrame(data=dict1)

       name  age
0      lisi   11
1  zhangsan   20
2    wangwu   30

In [10]:
# 元组加列表
t1 = (
    ['lisi',12],
    ['zhangsan',30],
    ['wangwu',20]
)
pd.DataFrame(data=t1,columns=['name','age'])

       name  age
0      lisi   12
1  zhangsan   30
2    wangwu   20

In [11]:
# numpy创造df对象
arr1 = np.arange(12).reshape(3,4)
pd.DataFrame(data=arr1)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [12]:
# 创建一个datafame
d1 = pd.DataFrame(np.random.randint(40,101,(10,5)))
cul_n = ['语文','数学','英语','物理','化学']
in_n = ['同学'+str(i) for i in range(d1.shape[0])]
# d1.index = in_n
# d1.columns = cul_n
# print(d1)

In [13]:
# 设置行列索引
d1.rename(
    columns={i:cul_n[i] for i in range(d1.shape[1])},
    index={i:in_n[i] for i in range(d1.shape[0])},
    inplace = True
)
print(d1)

     语文  数学  英语  物理  化学
同学0  69  73  90  85  84
同学1  45  61  88  83  79
同学2  57  63  95  97  52
同学3  56  51  66  98  48
同学4  61  97  46  73  98
同学5  40  62  50  58  91
同学6  80  62  55  78  97
同学7  74  81  67  87  74
同学8  58  42  96  89  83
同学9  48  87  73  73  98

In [16]:
# 重置索引时保留原索引列
d1.reset_index(drop=False)
# 充值索引时不保留元索引列
d1.reset_index(drop=True)

   语文  数学  英语  物理  化学
0  69  73  90  85  84
1  45  61  88  83  79
2  57  63  95  97  52
3  56  51  66  98  48
4  61  97  46  73  98
5  40  62  50  58  91
6  80  62  55  78  97
7  74  81  67  87  74
8  58  42  96  89  83
9  48  87  73  73  98

In [18]:
# 将语文和英语设为索引
d1.set_index(['语文','英语'])

       数学  物理  化学
语文 英语
69 90  73  85  84
45 88  61  83  79
57 95  63  97  52
56 66  51  98  48
61 46  97  73  98
40 50  62  58  91
80 55  62  78  97
74 67  81  87  74
58 96  42  89  83
48 73  87  73  98