In [1]:
import pandas as pd
import numpy as np
import os
os.getcwd()

'C:\\Users\\27700\\PycharmProjects\\data_an'

In [12]:
df = pd.read_csv(r'C:\Users\27700\PycharmProjects\data_an\data\stock_day.csv')

In [3]:
# 删除多个列
df.drop(['ma5','ma10','ma20','v_ma5','v_ma10','v_ma20'], axis=1, inplace=True)

In [4]:
df['open']['2018-02-07'] # 根据列名行索引找数据

22.69

In [5]:
df.loc['2018-02-27':'2018-02-14',['open','close']] #根绝列名行索引找一定范围内数据

             open  close
2018-02-27  23.53  24.16
2018-02-26  22.80  23.53
2018-02-23  22.88  22.82
2018-02-22  22.25  22.28
2018-02-14  21.49  21.92

In [6]:
df.iloc[0:2][0:2] # 根据行号列索引找一定范围内数据

,open,high,close,low,volume,price_change,p_change,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,1.53

In [7]:
# 按索引排序
df.sort_index(ascending=False)

,open,high,close,low,volume,price_change,p_change,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,0.58
...,...,...,...,...,...,...,...,...
2015-03-06,13.17,14.48,14.28,13.13,179831.72,1.12,8.51,6.16
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,3.19
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,2.30
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,4.76
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,3.30

In [8]:
# 按多个列的值排序
df.sort_values(by=['open','close'], ascending=[False, False])

,open,high,close,low,volume,price_change,p_change,turnover
2015-06-15,34.99,34.99,31.69,31.69,199369.53,-3.52,-10.00,6.82
2015-06-12,34.69,35.98,35.21,34.01,159825.88,0.82,2.38,5.47
2015-06-10,34.10,36.35,33.85,32.23,269033.12,0.51,1.53,9.21
2017-11-01,33.85,34.34,33.83,33.10,232325.30,-0.61,-1.77,5.81
2015-06-11,33.17,34.98,34.39,32.51,173075.73,0.54,1.59,5.92
...,...,...,...,...,...,...,...,...
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,3.19
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,2.30
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,4.76
2015-09-02,12.30,14.11,12.36,12.30,70201.74,-1.10,-8.17,2.40
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,3.30

In [9]:
# Series对象按值排序
df.open.sort_values()

2015-03-02    12.25
2015-09-02    12.30
2015-03-03    12.52
2015-03-04    12.80
2015-03-05    12.88
              ...
2015-06-11    33.17
2017-11-01    33.85
2015-06-10    34.10
2015-06-12    34.69
2015-06-15    34.99
Name: open, Length: 643, dtype: float64

In [10]:
# 单个列按索引降序排序
df.open.sort_index(ascending=False)

2018-02-27    23.53
2018-02-26    22.80
2018-02-23    22.88
2018-02-22    22.25
2018-02-14    21.49
              ...
2015-03-06    13.17
2015-03-05    12.88
2015-03-04    12.80
2015-03-03    12.52
2015-03-02    12.25
Name: open, Length: 643, dtype: float64

In [11]:
# 修改整个列的值
df.open = 0
df['close'] = 0
df

,open,high,close,low,volume,price_change,p_change,turnover
2018-02-27,0,25.88,0,23.53,95578.03,0.63,2.68,2.39
2018-02-26,0,23.78,0,22.80,60985.11,0.69,3.02,1.53
2018-02-23,0,23.37,0,22.71,52914.01,0.54,2.42,1.32
2018-02-22,0,22.76,0,22.02,36105.01,0.36,1.64,0.90
2018-02-14,0,21.99,0,21.48,23331.04,0.44,2.05,0.58
...,...,...,...,...,...,...,...,...
2015-03-06,0,14.48,0,13.13,179831.72,1.12,8.51,6.16
2015-03-05,0,13.45,0,12.87,93180.39,0.26,2.02,3.19
2015-03-04,0,12.92,0,12.61,67075.44,0.20,1.57,2.30
2015-03-03,0,13.06,0,12.52,139071.61,0.18,1.44,4.76
2015-03-02,0,12.67,0,12.20,96291.73,0.32,2.62,3.30

In [13]:
# 查找open列大于23的数据
df[df.open>23]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,52812.35,80394.43,88480.92,1.66
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,60348.94,80496.48,91666.75,1.23
2018-01-30,23.71,24.08,23.83,23.70,32420.43,0.05,0.21,24.350,24.671,24.365,77485.53,84805.23,92943.35,0.81
2018-01-29,24.40,24.63,23.77,23.72,65469.81,-0.73,-2.98,24.684,24.728,24.294,91842.60,91692.73,93456.22,1.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-05-21,27.50,28.22,28.22,26.50,121190.11,2.57,10.02,24.508,22.725,22.053,117760.48,103865.87,98766.20,4.15
2015-05-20,24.10,25.65,25.65,24.10,164143.16,2.33,9.99,23.292,21.784,21.733,118737.32,98652.00,99743.64,5.62
2015-05-19,23.68,23.69,23.32,22.47,82945.73,0.25,1.08,22.318,21.166,21.536,100396.01,90830.02,97087.92,2.84
2015-04-16,24.63,25.21,22.97,21.94,221070.31,-1.41,-5.78,22.230,19.983,17.825,182172.04,153247.63,124317.19,7.57
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57

In [14]:
# 查找open列大于23小于23的数据
df[(df.open>23)&(df.open<24)]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,52812.35,80394.43,88480.92,1.66
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,60348.94,80496.48,91666.75,1.23
2018-01-30,23.71,24.08,23.83,23.70,32420.43,0.05,0.21,24.350,24.671,24.365,77485.53,84805.23,92943.35,0.81
2018-01-16,23.40,24.60,24.40,23.30,101295.42,0.96,4.10,23.908,24.058,23.321,82003.73,101081.47,74590.92,2.54
2018-01-12,23.70,25.15,24.24,23.42,120303.53,0.56,2.37,24.076,23.748,23.236,86133.33,91838.46,69690.35,3.01
2018-01-11,23.67,23.85,23.67,23.21,48525.75,-0.12,-0.50,24.130,23.548,23.197,102925.87,85432.61,65928.23,1.21
2017-12-22,23.21,23.39,22.99,22.90,28394.00,-0.21,-0.91,23.224,23.313,23.316,35689.43,50210.29,53887.77,0.71
2017-12-21,23.39,23.50,23.21,22.86,34005.55,-0.11,-0.47,23.226,23.275,23.389,38699.06,52743.10,55126.09,0.85
2017-12-20,23.61,23.96,23.33,23.20,43368.92,-0.14,-0.60,23.278,23.180,23.430,40910.18,54204.51,57245.14,1.09
2017-12-19,23.23,23.66,23.46,23.23,43068.70,0.31,1.34,23.374,23.053,23.526,45968.22,55134.09,58490.17,1.08
2017-12-15,23.40,23.40,23.00,22.85,43442.15,-0.46,-1.96,23.402,22.856,23.715,64731.15,64281.37,65134.62,1.09
2017-12-14,23.65,23.77,23.47,23.22,45061.12,-0.33,-1.39,23.324,22.974,23.869,66787.14,64289.26,71322.17,1.13
2017-12-13,23.99,24.38,23.81,23.60,68659.12,-0.15,-0.63,23.082,23.052,24.104,67498.84,64780.47,73475.40,1.72
2017-12-04,23.91,24.15,22.92,22.85,85482.80,-1.27,-5.25,24.068,24.357,26.172,56728.88,61968.83,108773.06,2.14
2017-09-06,23.51,24.88,24.51,23.38,161732.80,0.56,2.34,24.576,23.958,23.105,195688.49,164855.13,150908.43,4.05
2017-09-05,23.76,24.32,23.95,23.31,138987.19,0.19,0.80,24.504,23.814,22.950,202643.87,175133.74,145571.54,3.48
2017-08-30,23.25,24.60,24.15,23.21,196509.73,1.09,4.73,23.340,23.111,22.387,134021.77,169549.50,116718.92,4.92
2017-08-29,23.45,23.85,23.06,23.04,90952.18,-0.44,-1.87,23.124,22.885,22.274,147623.61,156883.33,110864.84,2.28
2017-08-28,23.45,23.70,23.50,23.05,119146.78,0.13,0.56,23.382,22.723,22.240,221919.75,151883.31,112052.01,2.98
2017-08-23,23.90,24.06,23.07,22.85,264518.94,-1.28,-5.26,22.882,22.252,22.194,205077.23,136961.73,110195.54,6.62
2017-07-27,23.39,23.39,22.76,22.63,101811.01,-0.64,-2.73,23.218,22.647,22.337,128795.61,133537.65,158236.21,2.55
2017-07-26,23.53,23.92,23.40,22.85,110276.48,-0.30,-1.27,23.200,22.718,22.286,130237.86,140918.73,160464.67,2.76
2017-07-25,23.07,24.20,23.70,22.64,167489.48,0.67,2.91,23.042,22.759,22.199,137135.54,156145.65,166607.70,4.19
2017-07-14,23.28,24.29,22.87,22.80,163954.17,-0.60,-2.56,23.102,22.157,22.571,232640.92,184547.63,230585.56,4.10
2017-07-13,23.60,23.60,23.47,22.81,175621.84,-0.34,-1.43,22.790,22.026,22.468,222056.57,182934.76,228670.24,4.40
2017-06-27,23.10,23.24,22.20,22.06,288556.75,-1.06,-4.56,23.660,22.519,20.555,327174.26,253323.02,148477.09,7.22
2017-06-26,23.30,23.87,23.26,22.57,282271.66,-0.08,-0.34,24.036,22.211,20.333,344263.97,230982.02,136002.95,7.06
2017-06-22,23.32,25.93,25.93,23.26,421673.59,2.36,10.01,23.376,21.272,19.694,271087.94,167798.74,103052.22,10.55
2017-06-20,23.75,24.45,24.08,22.22,374005.34,1.58,7.02,21.378,20.152,18.976,179471.78,114371.67,73335.91,9.36
2016-11-08,23.17,24.50,24.46,22.95,105850.97,1.41,6.12,23.424,23.730,22.741,84457.15,102137.11,80998.53,2.65
2016-11-07,23.11,23.39,23.06,22.84,44069.47,-0.33,-1.41,23.312,23.609,22.637,84152.81,106671.47,79616.43,1.10
2016-11-04,23.17,23.65,23.30,22.80,57950.55,0.09,0.39,23.554,23.491,22.571,105512.66,108668.03,80235.56,1.45
2016-11-03,23.16,23.51,23.20,22.65,108786.66,0.13,0.56,23.672,23.258,22.486,113321.44,106419.41,79787.09,2.72
2016-11-02,23.80,23.99,23.10,23.00,105628.11,-0.78,-3.27,23.836,23.061,22.391,110733.47,98134.50,78653.50,2.64
2016-10-31,23.78,24.75,24.27,23.51,150868.73,0.38,1.59,23.906,22.619,22.078,129190.13,84118.69,75081.12,3.78
2016-10-27,23.89,24.28,24.02,23.89,95846.80,-0.08,-0.33,22.844,22.076,21.694,99517.38,70095.45,70979.59,2.40
2016-10-26,23.25,24.56,24.10,22.80,151046.05,0.86,3.70,22.286,21.899,21.546,85535.53,64577.62,69375.01,3.78
2016-09-09,23.92,24.06,23.08,22.60,182559.94,-1.14,-4.71,23.516,22.585,22.350,158412.12,140117.16,120647.63,6.25
2016-09-07,23.20,24.94,24.48,23.00,228627.59,1.49,6.48,23.192,22.201,22.093,193177.05,116716.33,112294.72,7.83
2015-12-28,23.20,23.40,21.89,21.85,71790.53,-1.31,-5.65,23.208,23.187,22.366,63460.36,67779.93,64901.54,2.46
2015-12-25,23.18,23.30,23.19,22.82,46800.90,0.15,0.65,23.620,23.227,22.294,62566.37,64647.24,65422.61,1.60
2015-12-23,23.97,24.44,24.11,23.66,70107.29,0.33,1.39,23.836,23.012,22.217,78284.79,69944.93,66730.18,2.40
2015-12-22,23.80,24.10,23.80,23.50,53460.38,-0.11,-0.46,23.462,22.731,22.204,72633.58,68271.22,66575.31,1.83
2015-12-18,23.53,24.66,23.99,23.43,109230.05,0.65,2.79,22.834,22.264,22.163,66728.10,68518.08,68161.18,3.74
2015-11-27,23.35,23.43,21.17,21.17,96648.60,-2.35,-9.99,23.098,23.979,23.423,73520.63,101791.59,111634.76,3.31
2015-11-26,23.85,24.08,23.53,23.50,51446.29,-0.31,-1.30,23.710,24.357,23.395,74550.04,110489.85,109815.49,1.76
2015-11-25,23.40,24.15,23.85,23.40,67009.81,0.23,0.97,23.786,24.407,23.266,88392.90,117356.00,110610.73,2.29
2015-11-24,23.26,23.75,23.64,22.86,65186.31,0.33,1.42,23.818,24.487,23.104,106285.54,125822.98,112165.27,2.23
2015-11-20,23.93,24.49,24.23,23.53,101795.66,0.32,1.34,24.860,24.526,22.939,130062.55,140931.38,118704.06,3.48
2015-11-19,23.72,24.26,23.91,23.01,120660.59,-0.12,-0.50,25.004,24.336,22.849,146429.66,138187.78,123305.46,4.13
2015-11-10,23.50,24.79,24.79,23.50,202020.19,2.25,9.98,22.742,21.721,21.054,124019.30,98507.55,116786.59,6.92
2015-10-26,23.32,23.46,21.85,21.06,178488.00,-0.58,-2.59,20.632,20.057,17.844,135255.37,136241.55,104451.05,6.11
2015-07-23,23.20,24.26,24.14,23.00,141147.69,1.68,7.48,22.030,22.978,25.000,112668.13,138161.35,127490.18,4.83
2015-06-30,23.82,25.13,25.01,21.44,174521.44,1.19,5.00,25.830,27.929,29.447,140738.14,119712.07,142160.16,5.97
2015-05-19,23.68,23.69,23.32,22.47,82945.73,0.25,1.08,22.318,21.166,21.536,100396.01,90830.02,97087.92,2.84
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57

In [15]:
# query方法
df.query('open>23&open<24')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,52812.35,80394.43,88480.92,1.66
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,60348.94,80496.48,91666.75,1.23
2018-01-30,23.71,24.08,23.83,23.70,32420.43,0.05,0.21,24.350,24.671,24.365,77485.53,84805.23,92943.35,0.81
2018-01-16,23.40,24.60,24.40,23.30,101295.42,0.96,4.10,23.908,24.058,23.321,82003.73,101081.47,74590.92,2.54
2018-01-12,23.70,25.15,24.24,23.42,120303.53,0.56,2.37,24.076,23.748,23.236,86133.33,91838.46,69690.35,3.01
2018-01-11,23.67,23.85,23.67,23.21,48525.75,-0.12,-0.50,24.130,23.548,23.197,102925.87,85432.61,65928.23,1.21
2017-12-22,23.21,23.39,22.99,22.90,28394.00,-0.21,-0.91,23.224,23.313,23.316,35689.43,50210.29,53887.77,0.71
2017-12-21,23.39,23.50,23.21,22.86,34005.55,-0.11,-0.47,23.226,23.275,23.389,38699.06,52743.10,55126.09,0.85
2017-12-20,23.61,23.96,23.33,23.20,43368.92,-0.14,-0.60,23.278,23.180,23.430,40910.18,54204.51,57245.14,1.09
2017-12-19,23.23,23.66,23.46,23.23,43068.70,0.31,1.34,23.374,23.053,23.526,45968.22,55134.09,58490.17,1.08
2017-12-15,23.40,23.40,23.00,22.85,43442.15,-0.46,-1.96,23.402,22.856,23.715,64731.15,64281.37,65134.62,1.09
2017-12-14,23.65,23.77,23.47,23.22,45061.12,-0.33,-1.39,23.324,22.974,23.869,66787.14,64289.26,71322.17,1.13
2017-12-13,23.99,24.38,23.81,23.60,68659.12,-0.15,-0.63,23.082,23.052,24.104,67498.84,64780.47,73475.40,1.72
2017-12-04,23.91,24.15,22.92,22.85,85482.80,-1.27,-5.25,24.068,24.357,26.172,56728.88,61968.83,108773.06,2.14
2017-09-06,23.51,24.88,24.51,23.38,161732.80,0.56,2.34,24.576,23.958,23.105,195688.49,164855.13,150908.43,4.05
2017-09-05,23.76,24.32,23.95,23.31,138987.19,0.19,0.80,24.504,23.814,22.950,202643.87,175133.74,145571.54,3.48
2017-08-30,23.25,24.60,24.15,23.21,196509.73,1.09,4.73,23.340,23.111,22.387,134021.77,169549.50,116718.92,4.92
2017-08-29,23.45,23.85,23.06,23.04,90952.18,-0.44,-1.87,23.124,22.885,22.274,147623.61,156883.33,110864.84,2.28
2017-08-28,23.45,23.70,23.50,23.05,119146.78,0.13,0.56,23.382,22.723,22.240,221919.75,151883.31,112052.01,2.98
2017-08-23,23.90,24.06,23.07,22.85,264518.94,-1.28,-5.26,22.882,22.252,22.194,205077.23,136961.73,110195.54,6.62
2017-07-27,23.39,23.39,22.76,22.63,101811.01,-0.64,-2.73,23.218,22.647,22.337,128795.61,133537.65,158236.21,2.55
2017-07-26,23.53,23.92,23.40,22.85,110276.48,-0.30,-1.27,23.200,22.718,22.286,130237.86,140918.73,160464.67,2.76
2017-07-25,23.07,24.20,23.70,22.64,167489.48,0.67,2.91,23.042,22.759,22.199,137135.54,156145.65,166607.70,4.19
2017-07-14,23.28,24.29,22.87,22.80,163954.17,-0.60,-2.56,23.102,22.157,22.571,232640.92,184547.63,230585.56,4.10
2017-07-13,23.60,23.60,23.47,22.81,175621.84,-0.34,-1.43,22.790,22.026,22.468,222056.57,182934.76,228670.24,4.40
2017-06-27,23.10,23.24,22.20,22.06,288556.75,-1.06,-4.56,23.660,22.519,20.555,327174.26,253323.02,148477.09,7.22
2017-06-26,23.30,23.87,23.26,22.57,282271.66,-0.08,-0.34,24.036,22.211,20.333,344263.97,230982.02,136002.95,7.06
2017-06-22,23.32,25.93,25.93,23.26,421673.59,2.36,10.01,23.376,21.272,19.694,271087.94,167798.74,103052.22,10.55
2017-06-20,23.75,24.45,24.08,22.22,374005.34,1.58,7.02,21.378,20.152,18.976,179471.78,114371.67,73335.91,9.36
2016-11-08,23.17,24.50,24.46,22.95,105850.97,1.41,6.12,23.424,23.730,22.741,84457.15,102137.11,80998.53,2.65
2016-11-07,23.11,23.39,23.06,22.84,44069.47,-0.33,-1.41,23.312,23.609,22.637,84152.81,106671.47,79616.43,1.10
2016-11-04,23.17,23.65,23.30,22.80,57950.55,0.09,0.39,23.554,23.491,22.571,105512.66,108668.03,80235.56,1.45
2016-11-03,23.16,23.51,23.20,22.65,108786.66,0.13,0.56,23.672,23.258,22.486,113321.44,106419.41,79787.09,2.72
2016-11-02,23.80,23.99,23.10,23.00,105628.11,-0.78,-3.27,23.836,23.061,22.391,110733.47,98134.50,78653.50,2.64
2016-10-31,23.78,24.75,24.27,23.51,150868.73,0.38,1.59,23.906,22.619,22.078,129190.13,84118.69,75081.12,3.78
2016-10-27,23.89,24.28,24.02,23.89,95846.80,-0.08,-0.33,22.844,22.076,21.694,99517.38,70095.45,70979.59,2.40
2016-10-26,23.25,24.56,24.10,22.80,151046.05,0.86,3.70,22.286,21.899,21.546,85535.53,64577.62,69375.01,3.78
2016-09-09,23.92,24.06,23.08,22.60,182559.94,-1.14,-4.71,23.516,22.585,22.350,158412.12,140117.16,120647.63,6.25
2016-09-07,23.20,24.94,24.48,23.00,228627.59,1.49,6.48,23.192,22.201,22.093,193177.05,116716.33,112294.72,7.83
2015-12-28,23.20,23.40,21.89,21.85,71790.53,-1.31,-5.65,23.208,23.187,22.366,63460.36,67779.93,64901.54,2.46
2015-12-25,23.18,23.30,23.19,22.82,46800.90,0.15,0.65,23.620,23.227,22.294,62566.37,64647.24,65422.61,1.60
2015-12-23,23.97,24.44,24.11,23.66,70107.29,0.33,1.39,23.836,23.012,22.217,78284.79,69944.93,66730.18,2.40
2015-12-22,23.80,24.10,23.80,23.50,53460.38,-0.11,-0.46,23.462,22.731,22.204,72633.58,68271.22,66575.31,1.83
2015-12-18,23.53,24.66,23.99,23.43,109230.05,0.65,2.79,22.834,22.264,22.163,66728.10,68518.08,68161.18,3.74
2015-11-27,23.35,23.43,21.17,21.17,96648.60,-2.35,-9.99,23.098,23.979,23.423,73520.63,101791.59,111634.76,3.31
2015-11-26,23.85,24.08,23.53,23.50,51446.29,-0.31,-1.30,23.710,24.357,23.395,74550.04,110489.85,109815.49,1.76
2015-11-25,23.40,24.15,23.85,23.40,67009.81,0.23,0.97,23.786,24.407,23.266,88392.90,117356.00,110610.73,2.29
2015-11-24,23.26,23.75,23.64,22.86,65186.31,0.33,1.42,23.818,24.487,23.104,106285.54,125822.98,112165.27,2.23
2015-11-20,23.93,24.49,24.23,23.53,101795.66,0.32,1.34,24.860,24.526,22.939,130062.55,140931.38,118704.06,3.48
2015-11-19,23.72,24.26,23.91,23.01,120660.59,-0.12,-0.50,25.004,24.336,22.849,146429.66,138187.78,123305.46,4.13
2015-11-10,23.50,24.79,24.79,23.50,202020.19,2.25,9.98,22.742,21.721,21.054,124019.30,98507.55,116786.59,6.92
2015-10-26,23.32,23.46,21.85,21.06,178488.00,-0.58,-2.59,20.632,20.057,17.844,135255.37,136241.55,104451.05,6.11
2015-07-23,23.20,24.26,24.14,23.00,141147.69,1.68,7.48,22.030,22.978,25.000,112668.13,138161.35,127490.18,4.83
2015-06-30,23.82,25.13,25.01,21.44,174521.44,1.19,5.00,25.830,27.929,29.447,140738.14,119712.07,142160.16,5.97
2015-05-19,23.68,23.69,23.32,22.47,82945.73,0.25,1.08,22.318,21.166,21.536,100396.01,90830.02,97087.92,2.84
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57

In [16]:
df[(df.open==23.53)|(df.open==23.67)]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-01-11,23.67,23.85,23.67,23.21,48525.75,-0.12,-0.50,24.130,23.548,23.197,102925.87,85432.61,65928.23,1.21
2017-07-26,23.53,23.92,23.40,22.85,110276.48,-0.30,-1.27,23.200,22.718,22.286,130237.86,140918.73,160464.67,2.76
2015-12-18,23.53,24.66,23.99,23.43,109230.05,0.65,2.79,22.834,22.264,22.163,66728.10,68518.08,68161.18,3.74

In [17]:
# isin方法查找open在[23.53,23.67]这个集合的数据
df[df.open.isin([23.53,23.67])]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-01-11,23.67,23.85,23.67,23.21,48525.75,-0.12,-0.50,24.130,23.548,23.197,102925.87,85432.61,65928.23,1.21
2017-07-26,23.53,23.92,23.40,22.85,110276.48,-0.30,-1.27,23.200,22.718,22.286,130237.86,140918.73,160464.67,2.76
2015-12-18,23.53,24.66,23.99,23.43,109230.05,0.65,2.79,22.834,22.264,22.163,66728.10,68518.08,68161.18,3.74

In [18]:
df.query('open==23.53|open==23.67')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-01-11,23.67,23.85,23.67,23.21,48525.75,-0.12,-0.50,24.130,23.548,23.197,102925.87,85432.61,65928.23,1.21
2017-07-26,23.53,23.92,23.40,22.85,110276.48,-0.30,-1.27,23.200,22.718,22.286,130237.86,140918.73,160464.67,2.76
2015-12-18,23.53,24.66,23.99,23.43,109230.05,0.65,2.79,22.834,22.264,22.163,66728.10,68518.08,68161.18,3.74

In [19]:
df.query('open in [23.53,23.67]')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-01-11,23.67,23.85,23.67,23.21,48525.75,-0.12,-0.50,24.130,23.548,23.197,102925.87,85432.61,65928.23,1.21
2017-07-26,23.53,23.92,23.40,22.85,110276.48,-0.30,-1.27,23.200,22.718,22.286,130237.86,140918.73,160464.67,2.76
2015-12-18,23.53,24.66,23.99,23.43,109230.05,0.65,2.79,22.834,22.264,22.163,66728.10,68518.08,68161.18,3.74

In [20]:
df[(df['open']>23)&(df['open']<24)]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,52812.35,80394.43,88480.92,1.66
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,60348.94,80496.48,91666.75,1.23
2018-01-30,23.71,24.08,23.83,23.70,32420.43,0.05,0.21,24.350,24.671,24.365,77485.53,84805.23,92943.35,0.81
2018-01-16,23.40,24.60,24.40,23.30,101295.42,0.96,4.10,23.908,24.058,23.321,82003.73,101081.47,74590.92,2.54
2018-01-12,23.70,25.15,24.24,23.42,120303.53,0.56,2.37,24.076,23.748,23.236,86133.33,91838.46,69690.35,3.01
2018-01-11,23.67,23.85,23.67,23.21,48525.75,-0.12,-0.50,24.130,23.548,23.197,102925.87,85432.61,65928.23,1.21
2017-12-22,23.21,23.39,22.99,22.90,28394.00,-0.21,-0.91,23.224,23.313,23.316,35689.43,50210.29,53887.77,0.71
2017-12-21,23.39,23.50,23.21,22.86,34005.55,-0.11,-0.47,23.226,23.275,23.389,38699.06,52743.10,55126.09,0.85
2017-12-20,23.61,23.96,23.33,23.20,43368.92,-0.14,-0.60,23.278,23.180,23.430,40910.18,54204.51,57245.14,1.09
2017-12-19,23.23,23.66,23.46,23.23,43068.70,0.31,1.34,23.374,23.053,23.526,45968.22,55134.09,58490.17,1.08
2017-12-15,23.40,23.40,23.00,22.85,43442.15,-0.46,-1.96,23.402,22.856,23.715,64731.15,64281.37,65134.62,1.09
2017-12-14,23.65,23.77,23.47,23.22,45061.12,-0.33,-1.39,23.324,22.974,23.869,66787.14,64289.26,71322.17,1.13
2017-12-13,23.99,24.38,23.81,23.60,68659.12,-0.15,-0.63,23.082,23.052,24.104,67498.84,64780.47,73475.40,1.72
2017-12-04,23.91,24.15,22.92,22.85,85482.80,-1.27,-5.25,24.068,24.357,26.172,56728.88,61968.83,108773.06,2.14
2017-09-06,23.51,24.88,24.51,23.38,161732.80,0.56,2.34,24.576,23.958,23.105,195688.49,164855.13,150908.43,4.05
2017-09-05,23.76,24.32,23.95,23.31,138987.19,0.19,0.80,24.504,23.814,22.950,202643.87,175133.74,145571.54,3.48
2017-08-30,23.25,24.60,24.15,23.21,196509.73,1.09,4.73,23.340,23.111,22.387,134021.77,169549.50,116718.92,4.92
2017-08-29,23.45,23.85,23.06,23.04,90952.18,-0.44,-1.87,23.124,22.885,22.274,147623.61,156883.33,110864.84,2.28
2017-08-28,23.45,23.70,23.50,23.05,119146.78,0.13,0.56,23.382,22.723,22.240,221919.75,151883.31,112052.01,2.98
2017-08-23,23.90,24.06,23.07,22.85,264518.94,-1.28,-5.26,22.882,22.252,22.194,205077.23,136961.73,110195.54,6.62
2017-07-27,23.39,23.39,22.76,22.63,101811.01,-0.64,-2.73,23.218,22.647,22.337,128795.61,133537.65,158236.21,2.55
2017-07-26,23.53,23.92,23.40,22.85,110276.48,-0.30,-1.27,23.200,22.718,22.286,130237.86,140918.73,160464.67,2.76
2017-07-25,23.07,24.20,23.70,22.64,167489.48,0.67,2.91,23.042,22.759,22.199,137135.54,156145.65,166607.70,4.19
2017-07-14,23.28,24.29,22.87,22.80,163954.17,-0.60,-2.56,23.102,22.157,22.571,232640.92,184547.63,230585.56,4.10
2017-07-13,23.60,23.60,23.47,22.81,175621.84,-0.34,-1.43,22.790,22.026,22.468,222056.57,182934.76,228670.24,4.40
2017-06-27,23.10,23.24,22.20,22.06,288556.75,-1.06,-4.56,23.660,22.519,20.555,327174.26,253323.02,148477.09,7.22
2017-06-26,23.30,23.87,23.26,22.57,282271.66,-0.08,-0.34,24.036,22.211,20.333,344263.97,230982.02,136002.95,7.06
2017-06-22,23.32,25.93,25.93,23.26,421673.59,2.36,10.01,23.376,21.272,19.694,271087.94,167798.74,103052.22,10.55
2017-06-20,23.75,24.45,24.08,22.22,374005.34,1.58,7.02,21.378,20.152,18.976,179471.78,114371.67,73335.91,9.36
2016-11-08,23.17,24.50,24.46,22.95,105850.97,1.41,6.12,23.424,23.730,22.741,84457.15,102137.11,80998.53,2.65
2016-11-07,23.11,23.39,23.06,22.84,44069.47,-0.33,-1.41,23.312,23.609,22.637,84152.81,106671.47,79616.43,1.10
2016-11-04,23.17,23.65,23.30,22.80,57950.55,0.09,0.39,23.554,23.491,22.571,105512.66,108668.03,80235.56,1.45
2016-11-03,23.16,23.51,23.20,22.65,108786.66,0.13,0.56,23.672,23.258,22.486,113321.44,106419.41,79787.09,2.72
2016-11-02,23.80,23.99,23.10,23.00,105628.11,-0.78,-3.27,23.836,23.061,22.391,110733.47,98134.50,78653.50,2.64
2016-10-31,23.78,24.75,24.27,23.51,150868.73,0.38,1.59,23.906,22.619,22.078,129190.13,84118.69,75081.12,3.78
2016-10-27,23.89,24.28,24.02,23.89,95846.80,-0.08,-0.33,22.844,22.076,21.694,99517.38,70095.45,70979.59,2.40
2016-10-26,23.25,24.56,24.10,22.80,151046.05,0.86,3.70,22.286,21.899,21.546,85535.53,64577.62,69375.01,3.78
2016-09-09,23.92,24.06,23.08,22.60,182559.94,-1.14,-4.71,23.516,22.585,22.350,158412.12,140117.16,120647.63,6.25
2016-09-07,23.20,24.94,24.48,23.00,228627.59,1.49,6.48,23.192,22.201,22.093,193177.05,116716.33,112294.72,7.83
2015-12-28,23.20,23.40,21.89,21.85,71790.53,-1.31,-5.65,23.208,23.187,22.366,63460.36,67779.93,64901.54,2.46
2015-12-25,23.18,23.30,23.19,22.82,46800.90,0.15,0.65,23.620,23.227,22.294,62566.37,64647.24,65422.61,1.60
2015-12-23,23.97,24.44,24.11,23.66,70107.29,0.33,1.39,23.836,23.012,22.217,78284.79,69944.93,66730.18,2.40
2015-12-22,23.80,24.10,23.80,23.50,53460.38,-0.11,-0.46,23.462,22.731,22.204,72633.58,68271.22,66575.31,1.83
2015-12-18,23.53,24.66,23.99,23.43,109230.05,0.65,2.79,22.834,22.264,22.163,66728.10,68518.08,68161.18,3.74
2015-11-27,23.35,23.43,21.17,21.17,96648.60,-2.35,-9.99,23.098,23.979,23.423,73520.63,101791.59,111634.76,3.31
2015-11-26,23.85,24.08,23.53,23.50,51446.29,-0.31,-1.30,23.710,24.357,23.395,74550.04,110489.85,109815.49,1.76
2015-11-25,23.40,24.15,23.85,23.40,67009.81,0.23,0.97,23.786,24.407,23.266,88392.90,117356.00,110610.73,2.29
2015-11-24,23.26,23.75,23.64,22.86,65186.31,0.33,1.42,23.818,24.487,23.104,106285.54,125822.98,112165.27,2.23
2015-11-20,23.93,24.49,24.23,23.53,101795.66,0.32,1.34,24.860,24.526,22.939,130062.55,140931.38,118704.06,3.48
2015-11-19,23.72,24.26,23.91,23.01,120660.59,-0.12,-0.50,25.004,24.336,22.849,146429.66,138187.78,123305.46,4.13
2015-11-10,23.50,24.79,24.79,23.50,202020.19,2.25,9.98,22.742,21.721,21.054,124019.30,98507.55,116786.59,6.92
2015-10-26,23.32,23.46,21.85,21.06,178488.00,-0.58,-2.59,20.632,20.057,17.844,135255.37,136241.55,104451.05,6.11
2015-07-23,23.20,24.26,24.14,23.00,141147.69,1.68,7.48,22.030,22.978,25.000,112668.13,138161.35,127490.18,4.83
2015-06-30,23.82,25.13,25.01,21.44,174521.44,1.19,5.00,25.830,27.929,29.447,140738.14,119712.07,142160.16,5.97
2015-05-19,23.68,23.69,23.32,22.47,82945.73,0.25,1.08,22.318,21.166,21.536,100396.01,90830.02,97087.92,2.84
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57

In [21]:
# 定义函数
def my_f(col):
    return col.max()-col.min()

# 获取列
# df[['open','close']].apply(my_f)
# df.loc[:,['open','close']]
# df.iloc[:,[0,2]]
df.iloc[:,0:3:2].apply(my_f)

open     22.74
close    22.85
dtype: float64

In [22]:
df[['open','close']].apply(lambda col:col.max()-col.min())

open     22.74
close    22.85
dtype: float64