交叉表演示

In [2]:
import pandas as pd
import numpy as  np
# 创建一个示例数据集
data = {
    '性别': ['男', '女', '男', '女', '男', '女', '女', '男'],
    '购买': ['是', '否', '是', '是', '否', '否', '是', '否']
}

df = pd.DataFrame(data)
df

  性别 购买
0  男  是
1  女  否
2  男  是
3  女  是
4  男  否
5  女  否
6  女  是
7  男  否

In [5]:
# 将性列名中的值作为行索引,购买的值作为列索引,统计其出现次数,[女,否]出现两次,[女,是]出现两次......
pd.crosstab(index=df['性别'],columns=df['购买'])

购买  否  是
性别
女   2  2
男   2  2

透视表演示

In [5]:
# 数据准备
import pandas as pd

data = {
    '性别': ['男', '女', '男', '女', '男', '女'],
    '购买': ['是', '否', '是', '是', '否', '否'],
    '金额': [100, 150, 200, 130, 160, 120]
}
df = pd.DataFrame(data)
df

  性别 购买   金额
0  男  是  100
1  女  否  150
2  男  是  200
3  女  是  130
4  男  否  160
5  女  否  120

In [8]:
# 创建透视表
# 将性列名中的值作为行索引,购买列中的值作为列索引,统计各个值分类下的金额(values=金额),返回平均值或者最大值,最小值总和......默认统计平均值aggfunc=mean
pd.pivot_table(df,values='金额',index='性别',columns='购买')

购买      否      是
性别
女   135.0  130.0
男   160.0  150.0