In [2]:
import pandas as pd
import numpy as np

In [3]:
# 导入数据
df = pd.read_csv('./data/uniqlo.csv')
df

,store_id,city,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
0,658,深圳,线下,Female,25-29,Weekday,当季新品,4,796.0,4,4,59
1,146,杭州,线下,Female,25-29,Weekday,运动,1,149.0,1,1,49
2,70,深圳,线下,Male,>=60,Weekday,T恤,2,178.0,2,2,49
3,658,深圳,线下,Female,25-29,Weekday,T恤,1,59.0,1,1,49
4,229,深圳,线下,Male,20-24,Weekend,袜子,2,65.0,2,3,9
...,...,...,...,...,...,...,...,...,...,...,...,...
22288,146,杭州,线下,Female,30-34,Weekday,短裤,1,80.0,1,2,19
22289,430,成都,线下,Female,25-29,Weekend,T恤,1,79.0,1,1,49
22290,449,武汉,线下,Female,35-39,Weekday,T恤,1,158.0,1,2,49
22291,758,杭州,线下,Female,20-24,Weekday,袜子,1,26.0,1,1,9
22292,616,成都,线下,Male,30-34,Weekday,当季新品,1,79.0,1,1,59

In [5]:
# 按'city','channel'分组直接打印是地址
df.groupby(['city','channel'])

In [8]:
# 按'city','channel'分组,计算出这个分组下每个组最大营销额(revenue)
df.groupby(['city','channel']).agg({
    'revenue':'max'
})

               revenue
city channel
上海   线上        4187.00
     线下        6636.00
北京   线下        2579.00
南京   线下       12538.00
广州   线上        2081.00
     线下        1168.00
成都   线下        6150.00
杭州   线下        8836.00
武汉   线上        5039.59
     线下        7919.00
深圳   线下        5947.00
西安   线上         796.00
     线下        1743.00
重庆   线上        1195.00
     线下       10498.28

In [10]:
# 按'city','channel'分组,计算出这个分组下每个组总营销额(revenue)
df.groupby(['city','channel'])['revenue'].sum()

city  channel
上海    线上         114438.09
      线下         275383.64
北京    线下         130458.62
南京    线下         123150.93
广州    线上         200893.30
      线下         117231.19
成都    线下         208189.86
杭州    线下         589518.49
武汉    线上         281420.73
      线下         308357.05
深圳    线下         733123.68
西安    线上          30088.01
      线下         180686.61
重庆    线上          26330.35
      线下         237162.30
Name: revenue, dtype: float64

In [11]:
# 写法二
df.groupby(['city','channel'])[['revenue']].sum()

                revenue
city channel
上海   线上       114438.09
     线下       275383.64
北京   线下       130458.62
南京   线下       123150.93
广州   线上       200893.30
     线下       117231.19
成都   线下       208189.86
杭州   线下       589518.49
武汉   线上       281420.73
     线下       308357.05
深圳   线下       733123.68
西安   线上        30088.01
     线下       180686.61
重庆   线上        26330.35
     线下       237162.30

In [16]:
# 按'city','channel'分组,计算出这个分组下每个组总营销额(revenue)和总成本(unit_cost)
df.groupby(['city','channel']).agg({
    'revenue':'sum',
    'unit_cost':'sum'
})

                revenue  unit_cost
city channel
上海   线上       114438.09      27980
     线下       275383.64      82359
北京   线下       130458.62      26163
南京   线下       123150.93      23140
广州   线上       200893.30      59631
     线下       117231.19      41091
成都   线下       208189.86      72041
杭州   线下       589518.49     173445
武汉   线上       281420.73      69225
     线下       308357.05      93858
深圳   线下       733123.68     201526
西安   线上        30088.01      10246
     线下       180686.61      64469
重庆   线上        26330.35       8028
     线下       237162.30      75055

In [17]:
# 写法二
df.groupby(['city','channel'])[['revenue','unit_cost']].sum()

                revenue  unit_cost
city channel
上海   线上       114438.09      27980
     线下       275383.64      82359
北京   线下       130458.62      26163
南京   线下       123150.93      23140
广州   线上       200893.30      59631
     线下       117231.19      41091
成都   线下       208189.86      72041
杭州   线下       589518.49     173445
武汉   线上       281420.73      69225
     线下       308357.05      93858
深圳   线下       733123.68     201526
西安   线上        30088.01      10246
     线下       180686.61      64469
重庆   线上        26330.35       8028
     线下       237162.30      75055

In [18]:
df.groupby(['city','channel']).agg({
    'revenue':'sum',
    'unit_cost':'mean'
})

                revenue  unit_cost
city channel
上海   线上       114438.09  45.868852
     线下       275383.64  46.243122
北京   线下       130458.62  45.343154
南京   线下       123150.93  46.280000
广州   线上       200893.30  45.554622
     线下       117231.19  46.747440
成都   线下       208189.86  47.116416
杭州   线下       589518.49  45.824306
武汉   线上       281420.73  44.517685
     线下       308357.05  46.649105
深圳   线下       733123.68  46.179193
西安   线上        30088.01  43.786325
     线下       180686.61  47.023341
重庆   线上        26330.35  44.109890
     线下       237162.30  46.763240

In [4]:
# 按城市分组过滤出营销额平均值大于200的
df.groupby(['city']).filter(lambda x:x['revenue'].mean()>200)

,store_id,city,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
9,21,北京,线下,Female,45-49,Weekend,毛衣,1,199.0,1,1,99
23,19,南京,线下,Female,35-39,Weekend,T恤,4,176.0,4,4,49
40,19,南京,线下,Female,45-49,Weekday,毛衣,2,198.0,2,2,99
62,19,南京,线下,Female,35-39,Weekend,T恤,2,197.0,2,2,49
168,21,北京,线下,Female,35-39,Weekday,毛衣,3,447.0,3,3,99
...,...,...,...,...,...,...,...,...,...,...,...,...
22182,19,南京,线下,Female,30-34,Weekend,当季新品,1,79.0,1,1,59
22192,21,北京,线下,Female,20-24,Weekday,T恤,7,693.0,7,7,49
22251,19,南京,线下,Female,45-49,Weekend,短裤,1,39.0,1,1,19
22273,21,北京,线下,Female,20-24,Weekday,当季新品,2,288.0,2,2,59
22280,21,北京,线下,Female,35-39,Weekend,T恤,1,59.0,1,1,49