In [34]:
# 数据准备
import pandas as pd

# 创建示例数据
data = {
    '商品ID': ['P001', 'P002', 'P003', 'P004', 'P005'],
    '商品类别': ['电子产品', '服装', '食品', '电子产品', '服装'],
    '一月销量': [120, 85, 150, 90, 110],
    '二月销量': [135, 95, 160, 80, 120],
    '三月销量': [140, 100, 170, 95, 130]
}

# 创建DataFrame，设置商品ID为索引
sales_df = pd.DataFrame(data).set_index('商品ID')

1. 查看数据集行数和列数
2. 获取所有商品 ID
3. 获取数据集所有值
4. 获取所有列名
5. 转置数据集
6. 查看数据集行数和列数
7. 获取前三条数据
8. 获取后两条数据
9. 重置索引
10. 以商品类别作为新的索引

1. 查看数据集行数和列数

In [35]:
print(sales_df.shape[1])
print(sales_df.shape[0])

4
5

2. 获取所有商品 ID

In [36]:
sales_df.index

Index(['P001', 'P002', 'P003', 'P004', 'P005'], dtype='object', name='商品ID')

3. 获取数据集所有值

In [37]:
sales_df.values

array([['电子产品', 120, 135, 140],
       ['服装', 85, 95, 100],
       ['食品', 150, 160, 170],
       ['电子产品', 90, 80, 95],
       ['服装', 110, 120, 130]], dtype=object)

4. 获取所有列名

In [38]:
sales_df.columns

Index(['商品类别', '一月销量', '二月销量', '三月销量'], dtype='object')

5. 转置数据集

In [39]:
sales_df.T

商品ID  P001 P002 P003  P004 P005
商品类别  电子产品   服装   食品  电子产品   服装
一月销量   120   85  150    90  110
二月销量   135   95  160    80  120
三月销量   140  100  170    95  130

6. 查看数据集行数和列数

In [40]:
sales_df.shape

(5, 4)

7. 获取前三条数据

In [41]:
sales_df.head(3)

      商品类别  一月销量  二月销量  三月销量
商品ID
P001  电子产品   120   135   140
P002    服装    85    95   100
P003    食品   150   160   170

8. 获取后两条数据

In [42]:
sales_df.tail(2)

      商品类别  一月销量  二月销量  三月销量
商品ID
P004  电子产品    90    80    95
P005    服装   110   120   130

9. 重置索引

In [43]:
sales_df.reset_index(inplace=True)
print(sales_df)

   商品ID  商品类别  一月销量  二月销量  三月销量
0  P001  电子产品   120   135   140
1  P002    服装    85    95   100
2  P003    食品   150   160   170
3  P004  电子产品    90    80    95
4  P005    服装   110   120   130

10. 以商品类别作为新的索引

In [44]:
sales_df.set_index('商品类别', inplace=True)

In [45]:
sales_df

      商品ID  一月销量  二月销量  三月销量
商品类别
电子产品  P001   120   135   140
服装    P002    85    95   100
食品    P003   150   160   170
电子产品  P004    90    80    95
服装    P005   110   120   130

In [9]:
sales_df.index

Index(['P001', 'P002', 'P003', 'P004', 'P005'], dtype='object', name='商品ID')

3. 获取数据集所有值
s