数据准备

In [15]:
import pandas as pd

# 模拟数据
data = {
    'movie_id': [1, 2, 3, 4, 5],
    'title': ['The Shawshank Redemption', 'The Godfather', 'Pulp Fiction', 'The Dark Knight', 'Forrest Gump'],
    'genre': ['Drama', 'Crime', 'Crime', 'Action', 'Drama'],
    'release_year': [1994, 1972, 1994, 2008, 1994],
    'rating': [9.3, 9.2, 8.9, 9.0, 8.8],
    'duration': [142, 175, 154, 152, 142]
}

df = pd.DataFrame(data)
df.to_csv('movies.csv', index=False)
df

   movie_id                     title   genre  release_year  rating  duration
0         1  The Shawshank Redemption   Drama          1994     9.3       142
1         2             The Godfather   Crime          1972     9.2       175
2         3              Pulp Fiction   Crime          1994     8.9       154
3         4           The Dark Knight  Action          2008     9.0       152
4         5              Forrest Gump   Drama          1994     8.8       142

字段解释：
1：movie_id 电影编号
2：title 电影标题
3：genre 影片类型
4：release_year 上映年份
5：rating  评分
6：duration  影片时长（分钟）

题目：从`movies.csv`文件中读取数据，只选取`title`、`genre`和`rating`列。

In [3]:
n_df = pd.read_csv('movies.csv',usecols=['title','genre','rating'])
n_df

                      title   genre  rating
0  The Shawshank Redemption   Drama     9.3
1             The Godfather   Crime     9.2
2              Pulp Fiction   Crime     8.9
3           The Dark Knight  Action     9.0
4              Forrest Gump   Drama     8.8

题目：筛选出评分在8.5到9.0之间（包含边界）的电影，并按照评分降序排列。

In [4]:
n_df.query('rating>=8.5 & rating<=9.0').sort_values(by='rating',ascending=False)

             title   genre  rating
3  The Dark Knight  Action     9.0
2     Pulp Fiction   Crime     8.9
4     Forrest Gump   Drama     8.8

题目：计算每种电影类型的平均评分。

In [5]:
n_df.groupby(by='genre').agg({
    'rating':'mean'
})

        rating
genre
Action    9.00
Crime     9.05
Drama     9.05

题目：找出评分最高的电影的标题和发行年份。

In [10]:
df[df.rating==df.rating.max()][['title','release_year']]

                      title  release_year
0  The Shawshank Redemption          1994

题目：统计每年发行的电影数量

In [11]:
df.groupby(by='release_year').agg({
    'title':'count',
})

              title
release_year
1972              1
1994              3
2008              1

题目：找出发行年份最早的电影的所有信息。

In [12]:
df[df.release_year==df.release_year.min()]

   movie_id          title  genre  release_year  rating  duration
1         2  The Godfather  Crime          1972     9.2       175

题目：筛选出时长超过150分钟且评分大于8.5的电影，并将结果保存为`long_high_rated_movies.csv`。

In [17]:
nd = df.query('duration>150 & rating>8.5')
nd.to_csv('long_high_rated_movies.csv', index=False)

题目：计算每个电影类型中评分最高的电影和评分最低的电影之间的评分差值。

In [24]:
df.groupby(by='genre').agg({
    'rating':'max'
})-df.groupby(by='genre').agg({
    'rating':'min'
})

        rating
genre
Action     0.0
Crime      0.3
Drama      0.5

题目：将电影数据按照发行年份和评分进行多级排序，先按发行年份升序，再按评分降序。

In [28]:
df.sort_values(by=['release_year','rating'],ascending=[True,False])

   movie_id                     title   genre  release_year  rating  duration
1         2             The Godfather   Crime          1972     9.2       175
0         1  The Shawshank Redemption   Drama          1994     9.3       142
2         3              Pulp Fiction   Crime          1994     8.9       154
4         5              Forrest Gump   Drama          1994     8.8       142
3         4           The Dark Knight  Action          2008     9.0       152

题目：找出评分最低的电影的类型和发行年份。

In [32]:
df[df['rating']==df.rating.min()][['genre','release_year']]

   genre  release_year
4  Drama          1994

题目：创建一个新列`title_length`，表示电影标题的长度（字符数）。

In [34]:
df['title_length']=[len(i) for i in df['title']]
df

,movie_id,title,genre,release_year,rating,duration,title_length
0,1,The Shawshank Redemption,Drama,1994,9.3,142,24
1,2,The Godfather,Crime,1972,9.2,175,13
2,3,Pulp Fiction,Crime,1994,8.9,154,12
3,4,The Dark Knight,Action,2008,9.0,152,15
4,5,Forrest Gump,Drama,1994,8.8,142,12

题目：筛选出标题长度超过12个字符且评分大于8.0的电影。

In [37]:
df[(df.title_length>12) & (df.rating>8.0)]

,movie_id,title,genre,release_year,rating,duration,title_length
0,1,The Shawshank Redemption,Drama,1994,9.3,142,24
1,2,The Godfather,Crime,1972,9.2,175,13
3,4,The Dark Knight,Action,2008,9.0,152,15

题目：创建一个新列`rating_ratio`，表示电影评分与该电影类型平均评分的比值。

In [39]:
df['rating_ratio']=df.rating/df.rating.mean()
df

,movie_id,title,genre,release_year,rating,duration,title_length,rating_ratio
0,1,The Shawshank Redemption,Drama,1994,9.3,142,24,1.028761
1,2,The Godfather,Crime,1972,9.2,175,13,1.017699
2,3,Pulp Fiction,Crime,1994,8.9,154,12,0.984513
3,4,The Dark Knight,Action,2008,9.0,152,15,0.995575
4,5,Forrest Gump,Drama,1994,8.8,142,12,0.973451

题目：新增两个列计算电影的平均评分和平均时长。

In [41]:
df[['avg_rating','avg_dur']]=[df.rating.mean(),df.duration.mean()]
df

,movie_id,title,genre,release_year,rating,duration,title_length,rating_ratio,avg_rating,avg_dur
0,1,The Shawshank Redemption,Drama,1994,9.3,142,24,1.028761,9.04,153.0
1,2,The Godfather,Crime,1972,9.2,175,13,1.017699,9.04,153.0
2,3,Pulp Fiction,Crime,1994,8.9,154,12,0.984513,9.04,153.0
3,4,The Dark Knight,Action,2008,9.0,152,15,0.995575,9.04,153.0
4,5,Forrest Gump,Drama,1994,8.8,142,12,0.973451,9.04,153.0