1.数据准备

假设我们有一个电影数据集`movies.csv`，包含以下列：`movie_id`（电影ID）、`title`（电影标题）、`genre`（电影类型）、`release_year`（发行年份）、`rating`（评分）、`duration`（时长，分钟）。

**题目**：导入Pandas库。

In [1]:
import pandas as pd
from sqlalchemy.dialects.mssql.information_schema import columns

**题目**：读取`movies.csv`文件并存储为DataFrame对象。

In [3]:
data = {
    'movie_id': [1, 2, 3, 4, 5],
    'title': ['The Shawshank Redemption', 'The Godfather', 'Pulp Fiction', 'The Dark Knight', 'Forrest Gump'],
    'genre': ['Drama', 'Crime', 'Crime', 'Action', 'Drama'],
    'release_year': [1994, 1972, 1994, 2008, 1994],
    'rating': [9.3, 9.2, 8.9, 9.0, 8.8],
    'duration': [142, 175, 154, 152, 142]
}
df = pd.DataFrame(data)
df.to_csv('movies.csv', index=False)

**题目**：查看DataFrame的基本信息。

In [4]:
df.info

<bound method DataFrame.info of    movie_id                     title   genre  release_year  rating  duration
0         1  The Shawshank Redemption   Drama          1994     9.3       142
1         2             The Godfather   Crime          1972     9.2       175
2         3              Pulp Fiction   Crime          1994     8.9       154
3         4           The Dark Knight  Action          2008     9.0       152
4         5              Forrest Gump   Drama          1994     8.8       142>

**题目**：查看DataFrame的形状。

In [5]:
df.shape

(5, 6)

**题目**：查看DataFrame的列名。

In [6]:
df.columns

Index(['movie_id', 'title', 'genre', 'release_year', 'rating', 'duration'], dtype='object')

**题目**：查看DataFrame的行索引。

In [7]:
df.index

RangeIndex(start=0, stop=5, step=1)

**题目**：获取`title`列的数据。

In [8]:
#df.Title
#df['Title']# series类型
df[['title']]# dataframe类型

                      title
0  The Shawshank Redemption
1             The Godfather
2              Pulp Fiction
3           The Dark Knight
4              Forrest Gump

**题目**：获取第2行数据。

In [9]:
#df.iloc[1][:]
df.loc[1][:]

movie_id                    2
title           The Godfather
genre                   Crime
release_year             1972
rating                    9.2
duration                  175
Name: 1, dtype: object

**题目**：获取`rating`列的前3行数据。

In [10]:
# df.rating[:3]
df.rating.head(3)

0    9.3
1    9.2
2    8.9
Name: rating, dtype: float64

**题目**：获取`release_year`列的后2行数据。

In [11]:
df.release_year.tail(2)

3    2008
4    1994
Name: release_year, dtype: int64

**题目**：筛选出评分大于9.0的电影。

In [12]:
#df[df.rating>=9.0]
df.query('rating>=9.0')

   movie_id                     title   genre  release_year  rating  duration
0         1  The Shawshank Redemption   Drama          1994     9.3       142
1         2             The Godfather   Crime          1972     9.2       175
3         4           The Dark Knight  Action          2008     9.0       152

**题目**：筛选出发行年份为1994年的电影。

In [13]:
df[df.release_year==1994]

   movie_id                     title  genre  release_year  rating  duration
0         1  The Shawshank Redemption  Drama          1994     9.3       142
2         3              Pulp Fiction  Crime          1994     8.9       154
4         5              Forrest Gump  Drama          1994     8.8       142

筛选出类型为`Crime`的电影。

In [14]:
# df[df.genre=='Crime']
df.query('genre=="Crime"')

   movie_id          title  genre  release_year  rating  duration
1         2  The Godfather  Crime          1972     9.2       175
2         3   Pulp Fiction  Crime          1994     8.9       154

**题目**：将`movie_id`列设置为索引。

In [15]:
df.reset_index(drop=True)
df.set_index('movie_id', inplace=True)

**题目**：重置索引。

In [16]:
df.reset_index()

   movie_id                     title   genre  release_year  rating  duration
0         1  The Shawshank Redemption   Drama          1994     9.3       142
1         2             The Godfather   Crime          1972     9.2       175
2         3              Pulp Fiction   Crime          1994     8.9       154
3         4           The Dark Knight  Action          2008     9.0       152
4         5              Forrest Gump   Drama          1994     8.8       142

**题目**：查看`rating`列的数据类型。

In [17]:
df.rating.dtype

dtype('float64')

**题目**：查看整个DataFrame的数据类型。

In [18]:
df.dtypes

title            object
genre            object
release_year      int64
rating          float64
duration          int64
dtype: object

**题目**：对`rating`列进行升序排序。

In [19]:
df.sort_values(ascending=True, by=['rating'])

                             title   genre  release_year  rating  duration
movie_id
5                     Forrest Gump   Drama          1994     8.8       142
3                     Pulp Fiction   Crime          1994     8.9       154
4                  The Dark Knight  Action          2008     9.0       152
2                    The Godfather   Crime          1972     9.2       175
1         The Shawshank Redemption   Drama          1994     9.3       142

**题目**：对`release_year`列进行降序排序。

In [20]:
df.sort_values(ascending=False, by=['release_year'])

                             title   genre  release_year  rating  duration
movie_id
4                  The Dark Knight  Action          2008     9.0       152
1         The Shawshank Redemption   Drama          1994     9.3       142
3                     Pulp Fiction   Crime          1994     8.9       154
5                     Forrest Gump   Drama          1994     8.8       142
2                    The Godfather   Crime          1972     9.2       175

**题目**：对索引进行升序排序。

In [21]:
df.sort_index(ascending=True)

                             title   genre  release_year  rating  duration
movie_id
1         The Shawshank Redemption   Drama          1994     9.3       142
2                    The Godfather   Crime          1972     9.2       175
3                     Pulp Fiction   Crime          1994     8.9       154
4                  The Dark Knight  Action          2008     9.0       152
5                     Forrest Gump   Drama          1994     8.8       142

**题目**：计算`rating`列的平均值。

In [22]:
df.rating.mean()

9.040000000000001

**题目**：计算`duration`列的最大值。

In [23]:
df.duration.max()

175

**题目**：计算`duration`列的最小值。

In [24]:
df.duration.min()

142

**题目**：计算`rating`列的中位数。

In [64]:
df.rating.median()

9.0

**题目**：计算`rating`列的标准差。

In [65]:
df.rating.std()

0.20736441353327703

**题目**：对`genre`列进行计数统计。

In [66]:
df.genre.count()

5

**题目**：查看数据的基本统计信息（如均值、标准差等）。

In [82]:
df.describe()
df

                             title   genre  release_year  rating  duration
movie_id
1         The Shawshank Redemption   Drama          1994     9.3       142
2                    The Godfather   Crime          1972     9.2       175
3                     Pulp Fiction   Crime          1994     8.9       154
4                  The Dark Knight  Action          2008     9.0       152
5                     Forrest Gump   Drama          1994     8.8       142

**题目**：获取`title`和`rating`两列的数据。

In [77]:
#df[['title','rating']]
# df.loc[:,['title','rating']]
df.iloc[:,:4:3]

                             title  rating
movie_id
1         The Shawshank Redemption     9.3
2                    The Godfather     9.2
3                     Pulp Fiction     8.9
4                  The Dark Knight     9.0
5                     Forrest Gump     8.8

**题目**：获取第2行到第4行，`title`和`release_year`列的数据。

In [83]:
# df.loc[2:4,['title','release_year']]
df.iloc[1:4,:3:2]

                    title  release_year
movie_id
2           The Godfather          1972
3            Pulp Fiction          1994
4         The Dark Knight          2008

**题目**：将`rating`列的值都加1。

In [85]:
df.rating+1
df.rating.add(1)

movie_id
1    10.3
2    10.2
3     9.9
4    10.0
5     9.8
Name: rating, dtype: float64

**题目**：将`duration`列的值都减10。

In [87]:
df.duration-10
df.duration.sub(10)

movie_id
1    132
2    165
3    144
4    142
5    132
Name: duration, dtype: int64

**题目**：判断`rating`列的值是否大于9.5。

In [88]:
df.rating>9.5

movie_id
1    False
2    False
3    False
4    False
5    False
Name: rating, dtype: bool

**题目**：筛选出`rating`大于9.0且`release_year`为1994年的电影。

In [99]:
df[(df.release_year==1994)&(df.rating>9.0)]

                             title  genre  release_year  rating  duration
movie_id
1         The Shawshank Redemption  Drama          1994     9.3       142

**题目**：使用`query`方法筛选出`rating`大于9.0且`release_year`为1994年的电

In [91]:
df.query('rating>9.0 & release_year==1994')

                             title  genre  release_year  rating  duration
movie_id
1         The Shawshank Redemption  Drama          1994     9.3       142

**题目**：判断`title`列是否包含`The`。

In [104]:
# 这里df.title.str,将这个series对象作为str处理,再用contains方法判断其是否包含The
df.title.str.contains('The')

movie_id
1     True
2     True
3    False
4     True
5    False
Name: title, dtype: bool

筛选出`title`列包含`The`的电影。

In [105]:
df[df.title.str.contains('The')]

                             title   genre  release_year  rating  duration
movie_id
1         The Shawshank Redemption   Drama          1994     9.3       142
2                    The Godfather   Crime          1972     9.2       175
4                  The Dark Knight  Action          2008     9.0       152

**题目**：查看`rating`列的前3行数据并重置索引。

In [106]:
df.rating.head(3).reset_index()

   movie_id  rating
0         1     9.3
1         2     9.2
2         3     8.9

**题目**：将`rating`列的数据保留一位小数。

In [107]:
df.rating.round(1)

movie_id
1    9.3
2    9.2
3    8.9
4    9.0
5    8.8
Name: rating, dtype: float64

**题目**：计算`rating`列的累计和。

In [108]:
df.rating.cumsum()

movie_id
1     9.3
2    18.5
3    27.4
4    36.4
5    45.2
Name: rating, dtype: float64

**题目**：计算`duration`列的累计最大值。

In [109]:
df.duration.cumsum().max()

765

**题目**：将DataFrame保存为`new_movies.csv`文件，不保存索引。

In [110]:
df.to_csv('../data/new_movies.csv', index=False)

**题目**：创建一个Series对象，包含电影的评分。

In [122]:
s = df.rating
s

movie_id
1    9.3
2    9.2
3    8.9
4    9.0
5    8.8
Name: rating, dtype: float64

**题目**：查看Series对象的索引。

In [123]:
s.index

Index([1, 2, 3, 4, 5], dtype='int64', name='movie_id')

**题目**：查看Series对象的值。

In [124]:
s.values

array([9.3, 9.2, 8.9, 9. , 8.8])

**题目**：对Series对象进行降序排序。

In [126]:
s.sort_index(ascending=False)

movie_id
5    8.8
4    9.0
3    8.9
2    9.2
1    9.3
Name: rating, dtype: float64

**题目**：查看Series对象的基本统计信息。

In [128]:
s.describe()

count    5.000000
mean     9.040000
std      0.207364
min      8.800000
25%      8.900000
50%      9.000000
75%      9.200000
max      9.300000
Name: rating, dtype: float64

**题目**：筛选出Series对象中值大于9.0的数据。

In [130]:
s[s.values>9.0]

movie_id
1    9.3
2    9.2
Name: rating, dtype: float64

**题目**：计算Series对象的平均值。

In [131]:
s.mean()

9.040000000000001

**题目**：计算Series对象的最大值。

In [132]:
s.max()

9.3

**题目**：计算Series对象的最小值。

In [133]:
s.min()

8.8