In [19]:
import time
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import os
from pyecharts.charts import Bar3D              # 需要安装下, 即:
from pyecharts.commons.utils import JsCode
import pyecharts.options as opts
os.getcwd()

'C:\\Users\\27700\\PycharmProjects\\data_an\\rfm案例'

In [3]:
# 读取数据,筛选特征
sheet_s = pd.read_excel('../data/sales.xlsx',sheet_name=['2015','2016','2017','2018','会员等级'])

In [4]:
sheet_s

{'2015':               会员ID         订单号       提交日期    订单金额
 0      15278002468  3000304681 2015-01-01   499.0
 1      39236378972  3000305791 2015-01-01  2588.0
 2      38722039578  3000641787 2015-01-01   498.0
 3      11049640063  3000798913 2015-01-01  1572.0
 4      35038752292  3000821546 2015-01-01    10.1
 ...            ...         ...        ...     ...
 30769  39368100847  4281994827 2015-12-31   828.0
 30770       409757  4282010457 2015-12-31   199.0
 30771  38380526114  4282017675 2015-12-31   208.0
 30772     28074988  4282019440 2015-12-31    89.0
 30773  39460363230  4282025309 2015-12-31   719.0

 [30774 rows x 4 columns],
 '2016':               会员ID         订单号       提交日期     订单金额
 0      39288120141  4282025766 2016-01-01    76.00
 1      39293812118  4282037929 2016-01-01  7599.00
 2      27596340905  4282038740 2016-01-01   802.00
 3      15111475509  4282043819 2016-01-01    65.00
 4      38896594001  4282051044 2016-01-01    95.00
 ...            ...         ...        ...      ...
 41273  35336052906  4324910145 2016-12-31    99.00
 41274  39305835721  4324910148 2016-12-31   238.89
 41275  39296945352  4324910770 2016-12-31   765.00
 41276  14791026234  4324911025 2016-12-31    45.80
 41277  16779755770  4324911048 2016-12-31   119.00

 [41278 rows x 4 columns],
 '2017':               会员ID         订单号       提交日期    订单金额
 0      38765290840  4324911135 2017-01-01  1799.0
 1      39305832102  4324911213 2017-01-01   369.0
 2      34190994969  4324911251 2017-01-01   189.0
 3      38986333210  4324911283 2017-01-01   169.0
 4          4271359  4324911355 2017-01-01    78.0
 ...            ...         ...        ...     ...
 50834  39155833075  4338762307 2017-12-31    96.0
 50835  29523124076  4338762514 2017-12-31    99.0
 50836      7807573  4338762906 2017-12-31   258.0
 50837  36642530033  4338762958 2017-12-31   286.0
 50838  39155901156  4338763879 2017-12-31   249.0

 [50839 rows x 4 columns],
 '2018':               会员ID         订单号       提交日期    订单金额
 0      39229691808  4338764262 2018-01-01  3646.0
 1      39293668916  4338764363 2018-01-01  3999.0
 2      35059646224  4338764376 2018-01-01    10.1
 3          1084397  4338770013 2018-01-01   828.0
 4          3349915  4338770121 2018-01-01  3758.0
 ...            ...         ...        ...     ...
 81344  39229485704  4354225182 2018-12-31   249.0
 81345  39229021075  4354225188 2018-12-31    89.0
 81346  39288976750  4354230034 2018-12-31    48.5
 81347     26772630  4354230163 2018-12-31  3196.0
 81348  39455580335  4354235084 2018-12-31  2999.0

 [81349 rows x 4 columns],
 '会员等级':                会员ID  会员等级
 0            100090     3
 1       10012905801     1
 2       10012935109     1
 3       10013498043     1
 4       10014087899     4
 ...             ...   ...
 154380       998138     3
 154381       998298     1
 154382       998571     4
 154383       999563     4
 154384       999951     1

 [154385 rows x 2 columns]}

In [5]:
# 查看样本信息
sheet_name=['2015','2016','2017','2018','会员等级']
for i in sheet_name:
    print(i)
    print(sheet_s[i].info())
    print(sheet_s[i].describe())

2015
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30774 entries, 0 to 30773
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    30774 non-null  int64
 1   订单号     30774 non-null  int64
 2   提交日期    30774 non-null  datetime64[ns]
 3   订单金额    30774 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 961.8 KB
None
               会员ID           订单号                           提交日期  \
count  3.077400e+04  3.077400e+04                          30774
mean   2.918779e+10  4.020414e+09  2015-07-01 20:55:49.424839168
min    2.670000e+02  3.000305e+09            2015-01-01 00:00:00
25%    1.944122e+10  3.885510e+09            2015-04-02 00:00:00
50%    3.746545e+10  4.117491e+09            2015-07-02 00:00:00
75%    3.923593e+10  4.234882e+09            2015-10-01 00:00:00
max    3.954613e+10  4.282025e+09            2015-12-31 00:00:00
std    1.385333e+10  2.630510e+08                            NaN

                订单金额
count   30774.000000
mean      960.991161
min         0.500000
25%        59.000000
50%       139.000000
75%       899.000000
max    111750.000000
std      2068.107231
2016
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41278 entries, 0 to 41277
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    41278 non-null  int64
 1   订单号     41278 non-null  int64
 2   提交日期    41278 non-null  datetime64[ns]
 3   订单金额    41277 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 1.3 MB
None
               会员ID           订单号                           提交日期  \
count  4.127800e+04  4.127800e+04                          41278
mean   2.908415e+10  4.313583e+09  2016-07-01 16:34:58.008624384
min    8.100000e+01  4.282026e+09            2016-01-01 00:00:00
25%    1.934990e+10  4.309457e+09            2016-04-01 00:00:00
50%    3.730339e+10  4.317545e+09            2016-07-02 00:00:00
75%    3.923182e+10  4.321132e+09            2016-10-01 00:00:00
max    3.954554e+10  4.324911e+09            2016-12-31 00:00:00
std    1.389468e+10  1.094572e+07                            NaN

                订单金额
count   41277.000000
mean      957.106694
min         0.100000
25%        59.000000
50%       147.000000
75%       888.000000
max    174900.000000
std      2478.560036
2017
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50839 entries, 0 to 50838
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    50839 non-null  int64
 1   订单号     50839 non-null  int64
 2   提交日期    50839 non-null  datetime64[ns]
 3   订单金额    50839 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 1.6 MB
None
               会员ID           订单号                           提交日期  \
count  5.083900e+04  5.083900e+04                          50839
mean   2.882368e+10  4.332466e+09  2017-07-02 00:53:06.530025984
min    2.780000e+02  4.324911e+09            2017-01-01 00:00:00
25%    1.869274e+10  4.328415e+09            2017-04-01 00:00:00
50%    3.688044e+10  4.331989e+09            2017-07-02 00:00:00
75%    3.923020e+10  4.337515e+09            2017-10-02 00:00:00
max    3.954554e+10  4.338764e+09            2017-12-31 00:00:00
std    1.409416e+10  4.404350e+06                            NaN

                订单金额
count   50839.000000
mean      963.587872
min         0.300000
25%        59.000000
50%       149.000000
75%       898.000000
max    123609.000000
std      2178.727261
2018
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81349 entries, 0 to 81348
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    81349 non-null  int64
 1   订单号     81349 non-null  int64
 2   提交日期    81349 non-null  datetime64[ns]
 3   订单金额    81348 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 2.5 MB
None
               会员ID           订单号                           提交日期  \
count  8.134900e+04  8.134900e+04                          81349
mean   2.902317e+10  4.348372e+09  2018-07-01 17:23:17.489827584
min    2.780000e+02  4.338764e+09            2018-01-01 00:00:00
25%    1.902755e+10  4.345654e+09            2018-04-01 00:00:00
50%    3.740121e+10  4.349448e+09            2018-07-01 00:00:00
75%    3.923380e+10  4.351639e+09            2018-10-01 00:00:00
max    3.954614e+10  4.354235e+09            2018-12-31 00:00:00
std    1.404116e+10  4.183774e+06                            NaN

                订单金额
count   81348.000000
mean      966.582792
min         0.000000
25%        60.000000
50%       149.000000
75%       899.000000
max    174900.000000
std      2204.969534
会员等级
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154385 entries, 0 to 154384
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   会员ID    154385 non-null  int64
 1   会员等级    154385 non-null  int64
dtypes: int64(2)
memory usage: 2.4 MB
None
               会员ID           会员等级
count  1.543850e+05  154385.000000
mean   2.980055e+10       2.259701
std    1.365654e+10       1.346408
min    8.100000e+01       1.000000
25%    2.213894e+10       1.000000
50%    3.833022e+10       2.000000
75%    3.927932e+10       3.000000
max    3.954614e+10       5.000000

In [6]:
# 处理空值,异常值和特殊值
# 方案:空值删除,金额小于1的删除
for i in sheet_name[:-1]:
    sheet_s[i]=sheet_s[i].dropna()
    sheet_s[i]=sheet_s[i][sheet_s[i]['订单金额']>1]
    sheet_s[i]['max_year_date'] = sheet_s[i]['提交日期'].max()
df_m = pd.concat([sheet_s[i] for i in sheet_name][:-1], ignore_index=True)
df_m

               会员ID         订单号       提交日期    订单金额 max_year_date
0       15278002468  3000304681 2015-01-01   499.0    2015-12-31
1       39236378972  3000305791 2015-01-01  2588.0    2015-12-31
2       38722039578  3000641787 2015-01-01   498.0    2015-12-31
3       11049640063  3000798913 2015-01-01  1572.0    2015-12-31
4       35038752292  3000821546 2015-01-01    10.1    2015-12-31
...             ...         ...        ...     ...           ...
202822  39229485704  4354225182 2018-12-31   249.0    2018-12-31
202823  39229021075  4354225188 2018-12-31    89.0    2018-12-31
202824  39288976750  4354230034 2018-12-31    48.5    2018-12-31
202825     26772630  4354230163 2018-12-31  3196.0    2018-12-31
202826  39455580335  4354235084 2018-12-31  2999.0    2018-12-31

[202827 rows x 5 columns]

In [7]:
df_m['year'] = df_m['提交日期'].dt.year
df_m

               会员ID         订单号       提交日期    订单金额 max_year_date  year
0       15278002468  3000304681 2015-01-01   499.0    2015-12-31  2015
1       39236378972  3000305791 2015-01-01  2588.0    2015-12-31  2015
2       38722039578  3000641787 2015-01-01   498.0    2015-12-31  2015
3       11049640063  3000798913 2015-01-01  1572.0    2015-12-31  2015
4       35038752292  3000821546 2015-01-01    10.1    2015-12-31  2015
...             ...         ...        ...     ...           ...   ...
202822  39229485704  4354225182 2018-12-31   249.0    2018-12-31  2018
202823  39229021075  4354225188 2018-12-31    89.0    2018-12-31  2018
202824  39288976750  4354230034 2018-12-31    48.5    2018-12-31  2018
202825     26772630  4354230163 2018-12-31  3196.0    2018-12-31  2018
202826  39455580335  4354235084 2018-12-31  2999.0    2018-12-31  2018

[202827 rows x 6 columns]

In [8]:
# 算出r的数值
df_m['date_interval'] = df_m.max_year_date-df_m['提交日期']
df_m['date_interval'] = df_m['date_interval'].dt.days
df_m

,会员ID,订单号,提交日期,订单金额,max_year_date,year,date_interval
0,15278002468,3000304681,2015-01-01,499.0,2015-12-31,2015,364
1,39236378972,3000305791,2015-01-01,2588.0,2015-12-31,2015,364
2,38722039578,3000641787,2015-01-01,498.0,2015-12-31,2015,364
3,11049640063,3000798913,2015-01-01,1572.0,2015-12-31,2015,364
4,35038752292,3000821546,2015-01-01,10.1,2015-12-31,2015,364
...,...,...,...,...,...,...,...
202822,39229485704,4354225182,2018-12-31,249.0,2018-12-31,2018,0
202823,39229021075,4354225188,2018-12-31,89.0,2018-12-31,2018,0
202824,39288976750,4354230034,2018-12-31,48.5,2018-12-31,2018,0
202825,26772630,4354230163,2018-12-31,3196.0,2018-12-31,2018,0
202826,39455580335,4354235084,2018-12-31,2999.0,2018-12-31,2018,0

In [9]:
# 算出f和m的数值
rfm_m = df_m.groupby(by=['year','会员ID'],as_index=False).agg({
    'date_interval':'min',
    '订单号':'count',
    '订单金额':'sum',
})

In [10]:
# 重命名特征
rfm_m.columns=['year','会员ID','r','f','m']

In [11]:
rfm_m.iloc[:,2:]

          r  f       m
0       197  2   105.0
1       251  1    29.7
2       340  1  5398.0
3       300  1   118.0
4        37  3   213.0
...     ... ..     ...
148586  272  1    49.0
148587  189  1  3558.0
148588  179  1  3699.0
148589  275  1    49.0
148590  163  1    19.9

[148591 rows x 3 columns]

In [12]:
# 自动化分区间
pd.cut(rfm_m['r'],bins=3).unique()

[(121.667, 243.333], (243.333, 365.0], (-0.365, 121.667]]
Categories (3, interval[float64, right]): [(-0.365, 121.667] < (121.667, 243.333] < (243.333, 365.0]]

In [13]:
# 通过对数据的分析对rfm进行合理的区间划分与分级
r_bins = [-1,79,255,365]
f_bins = [0,2,5,130]
m_bins = [1,69,1199,206252]

rfm_m['r_l'] = pd.cut(rfm_m['r'],bins=r_bins,labels=[i for i in range(len(r_bins)-1,0,-1)])
rfm_m['f_l'] = pd.cut(rfm_m['f'],bins=f_bins,labels=[i for i in range(1,len(f_bins))])
rfm_m['m_l'] = pd.cut(rfm_m['m'],bins=m_bins,labels=[i for i in range(1,len(m_bins))])
rfm_m

        year         会员ID    r  f       m r_l f_l m_l
0       2015          267  197  2   105.0   2   1   2
1       2015          282  251  1    29.7   2   1   1
2       2015          283  340  1  5398.0   1   1   3
3       2015          343  300  1   118.0   1   1   2
4       2015          525   37  3   213.0   3   2   2
...      ...          ...  ... ..     ...  ..  ..  ..
148586  2018  39538034299  272  1    49.0   1   1   1
148587  2018  39538034662  189  1  3558.0   2   1   3
148588  2018  39538035729  179  1  3699.0   2   1   3
148589  2018  39545237824  275  1    49.0   1   1   1
148590  2018  39546136285  163  1    19.9   2   1   1

[148591 rows x 8 columns]

In [14]:
# 按照组合的形势得出评分
rfm_m['rfm_s'] = rfm_m['r_l'].astype(str)+rfm_m['f_l'].astype(str)+rfm_m['m_l'].astype(str)
rfm_m

        year         会员ID    r  f       m r_l f_l m_l rfm_s
0       2015          267  197  2   105.0   2   1   2   212
1       2015          282  251  1    29.7   2   1   1   211
2       2015          283  340  1  5398.0   1   1   3   113
3       2015          343  300  1   118.0   1   1   2   112
4       2015          525   37  3   213.0   3   2   2   322
...      ...          ...  ... ..     ...  ..  ..  ..   ...
148586  2018  39538034299  272  1    49.0   1   1   1   111
148587  2018  39538034662  189  1  3558.0   2   1   3   213
148588  2018  39538035729  179  1  3699.0   2   1   3   213
148589  2018  39545237824  275  1    49.0   1   1   1   111
148590  2018  39546136285  163  1    19.9   2   1   1   211

[148591 rows x 9 columns]

In [25]:
# 导出表格
rfm_m.to_excel('../data/sales_rfm_score.xlsx',index=False)

In [15]:
# 导出数据库结果
engine = create_engine("mysql+pymysql://root:admin@localhost:3306/rfm_db?charset=utf8")
rfm_m.to_sql('sales_rfm_score',engine,index=False,if_exists='replace')

148591

In [18]:
pd.read_sql('select * from sales_rfm_score',engine)

        year         会员ID    r  f       m r_l f_l m_l rfm_s
0       2015          267  197  2   105.0   2   1   2   212
1       2015          282  251  1    29.7   2   1   1   211
2       2015          283  340  1  5398.0   1   1   3   113
3       2015          343  300  1   118.0   1   1   2   112
4       2015          525   37  3   213.0   3   2   2   322
...      ...          ...  ... ..     ...  ..  ..  ..   ...
148586  2018  39538034299  272  1    49.0   1   1   1   111
148587  2018  39538034662  189  1  3558.0   2   1   3   213
148588  2018  39538035729  179  1  3699.0   2   1   3   213
148589  2018  39545237824  275  1    49.0   1   1   1   111
148590  2018  39546136285  163  1    19.9   2   1   1   211

[148591 rows x 9 columns]

In [22]:
# 5. 数据可视化.
# 5.1 准备可视化的数据, 即: rfm_group(分组结果评分), year(统计年份), number(评分个数)
display_data = rfm_m.groupby(['rfm_s', 'year'], as_index=False).agg({'会员ID': 'count'})
# # 5.2 修改列名.
display_data.columns = ['rfm_s', 'year', 'number']
# # 细节: 把number列的类型 -> int类型.
display_data['number'] = display_data['number'].astype(int)
# display_data
#
# # 5.3 绘制图形
# 颜色池
range_color = ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf',
               '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
#
#找出会员数最大的值,用于后面设置颜色映射范围
range_max = int(display_data['number'].max())
c = (
    Bar3D()  #初始化D3柱状图
    .add(
        "",  #图例 不显示图例
        [d.tolist() for d in display_data.values],  #数据
        xaxis3d_opts=opts.Axis3DOpts(type_="category", name='分组名称'),  #x轴数据类型，名称，rfm_group
        yaxis3d_opts=opts.Axis3DOpts(type_="category", name='年份'),  #y轴数据类型，名称，year
        zaxis3d_opts=opts.Axis3DOpts(type_="value", name='会员数量'),  #z轴数据类型，名称，number
    )
    .set_global_opts(  # 全局设置
        visualmap_opts=opts.VisualMapOpts(max_=range_max, range_color=range_color),  #设置颜色，及不同取值对应的颜色
        title_opts=opts.TitleOpts(title="RFM分组结果"),  #设置标题
    )
)
c.render()  # 数据保存到本地的网页中.

'C:\\Users\\27700\\PycharmProjects\\data_an\\rfm案例\\render.html'